<header class="site-header">

  <nav class="site-nav">

    <div class="trigger">
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
         href="{{ site.baseurl }}/">
        Meus Rumos
      </a>

      {% for my_page in site.pages %}
      {% if my_page.title %}
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
         href="{{ my_page.url | prepend: site.baseurl }}">
        {{ my_page.title }}
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </nav>

</header>
